{% extends "account/base.html" %}

{% load url from future %}
{% load bootstrap %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block sub_content %}
<h1>{% trans "Sign Up" %}</h1>
    
<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>


{% if socialaccount.providers  %}
    <p>If you have an existing third party account, you can select it below and sign in without signing up:</p>

    <div class="socialaccount_ballot">

        <ul class="socialaccount_providers">
            {% include "socialaccount/snippets/provider_list.html" with process="login" %}
        </ul>

    </div>

    {% include "socialaccount/snippets/login_extra.html" %}

{% endif %}

<p>Or sign up using the form below:</p>

<form id="signup_form" method="post" action="{% url 'account_signup' %}" role="form">
  {% csrf_token %}
  {{ form|bootstrap }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <div class="form-actions">
  <button class="btn btn-primary" type="submit">{% trans "Sign Up" %}</button>
  </div>
</form>

{% endblock %}


