Django==1.5.4
lxml==3.2.3
requests==2.0.0
django-nose==1.2
South==0.8.2
django-celery==3.0.23
path.py==4.3
MySQL-python==1.2.4
gunicorn==18.0
celery-with-redis==3.0
nltk==2.0.4
readability-lxml==0.3.0.2
ipython==1.1.0
djangorestframework==2.3.8
Markdown==2.3.1
django-filter==0.7
pudb==2013.3.6
django-allauth==0.13.0
-e git+https://github.com/Nivl/django-bootstrap-form.git@aeedb1c8a1f05b10baebca8b8450874b8076576e#egg=django-bootstrap-form
-e git+https://github.com/duointeractive/sea-cucumber.git@5bde28cb545a0433f4a54689caf0358fc0560760#egg=sea-cucumber
Pillow==2.2.1
fs==0.4.0
django-avatar==2.0
factory-boy==2.2.1
coverage==3.7
django-guardian==1.1.1
django-wysiwyg-redactor==0.3.6