.create-class-form{
    margin-top: 10px;
}
    .create-class-form.has-success{
        margin-top:30px;
    }
    .create-class-form.has-error{
        margin-top:30px;
    }
#tag-sidebar{
    margin-top: 20px;
}

.create-user-form{
    margin-top: 10px;
}
    .create-user-form.has-success{
        margin-top:30px;
    }
    .create-user-form.has-error{
        margin-top:30px;
    }

#dashboard-content div.row{
    margin-top: 0px;
}

#dashboard-content .tag-heading{
    margin-bottom: 20px;
}

.comment .reply-to-tweet{
    margin-right: 20px;
}

#student-network-chart-container{
    height: 350px;
    position: relative;
}

#student-network-chart{
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }

    .row-offcanvas-right
  .sidebar-offcanvas {
        right: -50%; /* 6 columns */
    }

    .row-offcanvas-left
  .sidebar-offcanvas {
        left: -50%; /* 6 columns */
    }

    .row-offcanvas-right.active {
        right: 50%; /* 6 columns */
    }

    .row-offcanvas-left.active {
        left: 50%; /* 6 columns */
    }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 50%; /* 6 columns */
    }
}



