{% load staticfiles %}
<div id="carousel-demo" class="carousel slide" data-interval="60000">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-demo" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-demo" data-slide-to="1"></li>
        <li data-target="#carousel-demo" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="{% static 'img/demo_show/s1.png' %}" alt="...">
        </div>
        {% for i in image_list %}
            <div class="item">
                <img src="{% static i %}" alt="">
            </div>
        {% endfor %}
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-demo" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#carousel-demo" data-slide="next">
        <span class="icon-next"></span>
    </a>
</div>