<!-- Signup Modal -->
<div aria-hidden='true' aria-labelledby='loginModalLabel' class='modal fade' id='signupModal' role='dialog' tabindex='-1'>
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header'>
                <button aria-hidden='true' class='close' data-dismiss='modal' type='button'>×</button>
                <h4 class='modal-title'>Sign up</h4>
            </div>
            <div class='modal-body'>
                {{ signup|safe }}
            </div>
        </div>
    </div>
</div>

<!-- Login Modal -->
<div aria-hidden='true' aria-labelledby='loginModalLabel' class='modal fade' id='loginModal' role='dialog' tabindex='-1'>
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header'>
                <button aria-hidden='true' class='close' data-dismiss='modal' type='button'>×</button>
                <h4 class='modal-title'>Login</h4>
            </div>
            <div class='modal-body'>
                {{ login|safe }}
            </div>
        </div>
    </div>
</div>

<!-- Contact Modal -->
<div aria-hidden='true' aria-labelledby='contactModalLabel' class='modal fade' id='contactModal' role='dialog' tabindex='-1'>
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header'>
                <button aria-hidden='true' class='close' data-dismiss='modal' type='button'>×</button>
                <h4 class='modal-title'>Contact Us Form</h4>
            </div>
            <div class='modal-body'>
                <form action='#' role='form'>
                    <div class='form-group'>
                        <div class='row'>
                            <div class='col-md-6'>
                                <label class='control-label' for=''>Your Name</label>
                                <input class='form-control' placeholder='your username' type='text'>
                            </div>
                            <div class='col-md-6'>
                                <label class='control-label' for=''>Your Email</label>
                                <input class='form-control' placeholder='your password' type='text'>
                            </div>
                        </div>
                    </div>
                    <div class='form-group'>
                        <div class='row'>
                            <div class='col-md-12'>
                                <label class='control-label' for=''>Your Message</label>
                                <textarea class='form-control' name='' rows='4'></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class='modal-footer'>
                <button class='btn btn-default' data-dismiss='modal' type='button'>Cancel</button>
                <button class='btn btn-primary' type='button'>Send Message</button>
            </div>
        </div>
    </div>
</div>