<script id="classTemplate" type="text/template">
    <td>
        <a href="<%= link %>"> <%= display_name %></a>
    </td>
    <td>
        <%= role %>
    </td>
    <td>
        <%= modified %>
    </td>
</script>

<script id="addClassPromptTemplate" type="text/template">
    <p>Looks like you don't have any classes yet.  Why not add one?</p>
</script>

<script id="noNetworkChartTemplate" type="text/template">
    <div class="alert alert-info">We can't display the student network chart until you start some discussions.</div>
</script>

<script id="noDailyActivityChartTemplate" type="text/template">
    <div class="alert alert-info">We can't display the daily activity chart until you start some discussions.</div>
</script>

<script id="homeDetailTemplate" type="text/template">
    <p class="lead"><%= display_name %> -- <%= description %></p>
    <div class="welcome-message"><%= welcome_message %></div>
    <h4>Recent Class Announcements</h4>
    <div id="messages-container">
    </div>
</script>

<script id="notificationDetailTemplate" type="text/template">
    <div id="messages-container">
    </div>
</script>

<script id="messageDetailTemplate" type="text/template">
    <div class="row">
        <div class="col-xs-12">
            <div id="start-a-discussion" data-start-discussion="true" class="message-reply">
                <form role="form">
                    <div class="form-group reply-to-message-form">
                        <label class="sr-only" for="start-a-discussion-input">Tag</label>
                        <textarea type="text" class="form-control input-lg" id="start-a-discussion-input" placeholder="Enter message here..."></textarea>
                        <span class="help-block"></span>
                    </div>
                    <% if(is_owner==true) { %>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="make-discussion-announcement-input"> Make this an announcement
                            </label>
                        </div>
                    <% } %>
                    <div class="form-group">
                        <button type="submit" class="btn btn-small start-a-discussion-button">Start a new discussion</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div id="messages-container">
            </div>
        </div>
    </div>
</script>

<script id="studentSettingsTemplate" type="text/template">
    <h4>Basic Settings</h4>
    <%= form_html %>
</script>

<script id="avatarChangeTemplate" type="text/template">
    <h4>Profile Picture</h4>
    <%= avatar_html %>
</script>

<script id="classSettingsTemplate" type="text/template">
    <h4>Class Settings</h4>
    <p>New students can enroll in this class by using the access key below and the link <%= class_link %> if signups are allowed.</p>
    <%= form_html %>
</script>

<script id="statsDetailTemplate" type="text/template">
    <div id="stats-container">
        <h4>Message Activity</h4>
        <div id="message-chart" style="height:250px;"></div>
        <h4>Student Network</h4>
        <p>Each point represents a student in the class.  A larger point means that the student has participated in more discussions. Each line between students shows how they interact with each other.  A larger line means that the two students have had more discussions with each other.</p>
        <p>Click and drag to move around, and use the mousewheel to zoom in and out.  Hovering over a point shows you only the classmates with whom that student has has discussions.</p>
        <div id="student-network-chart-container">
            <div id="student-network-chart"></div>
        </div>
    </div>
</script>

<script id="usersDetailTemplate" type="text/template">
    <div id="users-container">
    </div>
</script>

<script id="settingsDetailTemplate" type="text/template">
    <div id="settings-container">
    </div>
</script>

<script id="userJoinTemplate" type="text/template">
    <% if(is_owner){ %>
        <p>In order to have students access this course, please tell them to visit <strong><%= link %></strong> and use the access code <strong><%= access_key %></strong>.  If they do not already have an account, they will be asked to sign up, and then enter their code.</p>
        <p>You can enable and disable access code signup in the settings panel.</p>
        <p><strong>Questions? Please contact info@movide.com .</strong></p>
    <% } %>
</script>

<script id="showMoreMessagesTemplate" type="text/template">
    <div class="alert alert-warning">
        <p><%= message_count %> new messages.  <a href="#" id="show-more-messages-button">Click here</a> to show.</p>
    </div>
</script>

<script id="userTableTemplate" type="text/template">
    <table class="table table-hover table-condensed">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Daily Messages</th>
                <th>All Messages</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <%= content %>
        </tbody>
    </table>
    <% if(is_owner == true && false){ %>
        <form class="form-inline" role="form">
            <div class="form-group user-add-form">
                <label class="sr-only" for="inputClass1">Username</label>
                <input type="text" class="form-control input-lg" id="inputClass1" placeholder="Student username">
                <span class="help-block" id="user-add-message"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-large" id="user-add">Add a student</button>
            </div>
        </form>
    <% } %>
</script>

<script id="noUserTemplate" type="text/template">
    <p>You don't have any students for this tag yet.  Why not add some?</p>
</script>

<script id="noMessagesTemplate" type="text/template">
    <p>There aren't any discussions in this class yet. Why not start a discussion now?</p>
</script>

<script id="noNotificationsTemplate" type="text/template">
    <p>You don't have any notifications yet.</p>
</script>

<script id="noAnnouncementsTemplate" type="text/template">
    <p>There aren't any course announcements yet.</p>
</script>

<script id="userTemplate" type="text/template">
    <tr>
        <td>
            <% if (typeof(image) != "undefined") { %>
                <img src="<%= image %>">
            <% } %>
        </td>
        <td class="username" data-username="<%= username %>"><%= username %></td>
        <td><%= message_count_today %></td>
        <td><%= message_count %></td>
        <td>
            <% if (is_owner == true) { %>
                <a type="button" class="btn btn-xs user-tag-delete"><span class="glyphicon glyphicon-remove"></span></a>
            <% } %>
        </td>
    </tr>
</script>

<script id="messageReplyTemplate" type="text/template">
    <form role="form" class="form-inline">
        <div class="form-group reply-to-message-form">
            <label class="sr-only" for="reply-to-message-input-<%= pk %>">Tag</label>
            <textarea type="text" class="form-control input-lg" id="reply-to-message-input-<%= pk %>" placeholder="Enter reply here..." rows="1" cols="60"></textarea>
            <span class="help-block" id="reply-to-message-message-<%= pk %>"></span>
        </div>
        <button type="submit" class="btn btn-small reply-to-message-button" id="reply-to-message-button-<%= pk %>" data-primary-key="<%= pk %>">Send Reply</button>
    </form>
</script>

<script id="notificationTemplate" type="text/template">
    <% if(typeof notification_text !== undefined){ %>
        <p><%= notification_text %></p>
    <% } %>
    <div class="notification-message">
        {% include "snippets/message_template.html" %}
    </div>
</script>

<script id="messageTemplate" type="text/template">
    {% include "snippets/message_template.html" %}
</script>

<script id="noRepliesTemplate" type="text/template">
    <div class="comment">
        <p>Nobody has responded to this message yet.</p>
    </div>
</script>

<script id="messagesTemplate" type="text/template">
    <div id="show-more-messages-container"></div>
    <div class="comments" data-tag-name="<%= classgroup %>" id="comments">
        <%= messages %>
    </div>
</script>
