<script id="classTemplate" type="text/template">
    <td>
        <%= display_name %>
    </td>
    <td>
        <%= modified %>
    </td>
</script>

<script id="addClassPromptTemplate" type="text/template">
    <p>Looks like you don't have any classes yet.  Why not add one?</p>
</script>

<script id="noNetworkChartTemplate" type="text/template">
    <p>Unfortunately, not enough messages have been sent to allow this chart to be shown.</p>
</script>

<script id="classDetailTemplate" type="text/template">
    <div class="row">
        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#messages-container" data-toggle="tab">Messages</a></li>
            <li><a href="#stats-container" data-toggle="tab">Stats</a></li>
            <li><a href="#users-container" data-toggle="tab">Users</a></li>
        </ul>
    </div>
    <div class="tab-content">
        <div class="tab-pane active" id="messages-container">
            <div class="row">
                <h3>Messages</h3>
                <div id="messages">

                </div>
            </div>
        </div>
        <div class="tab-pane" id="stats-container">
            <div class="row">
                <h3>Stats</h3>
            </div>
        </div>
        <div class="tab-pane" id="users-container">
            <div class="row">
                <h3>Users</h3>
                <div id="user-table">

                </div>
            </div>
        </div>
    </div>
</script>

<script id="userTableTemplate" type="text/template">
    <table class="table table-hover table-condensed">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Daily Messages</th>
                <th>All Messages</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <%= content %>
        </tbody>
    </table>
</script>

<script id="noUserTemplate" type="text/template">
    <p>You don't have any students for this tag yet.  Why not add some?</p>
</script>

<script id="noMessagesTemplate" type="text/template">
    <p>There aren't any discussions in this class yet.</p>
    <p>Why not start a discussion now?</p>
    <p><strong>Questions? Please contact info@movide.com .</strong></p>
</script>

<script id="userTemplate" type="text/template">
    <tr>
        <td>
            <% if (typeof(image) != "undefined") { %>
                <img src="<%= image %>">
            <% } %>
        </td>
        <td><%= username %></td>
        <td><%= message_count_today %></td>
        <td><%= message_count %></td>
        <td><a type="button" class="btn btn-xs user-tag-delete"><span class="glyphicon glyphicon-remove"></span></a></td>
    </tr>
</script>

<script id="messageTemplate" type="text/template">
    <div class="comment" data-message-id="<%= pk %>" data-reply-username="<%= user %>">
        <div class="header clearfix">
            <% if (typeof(image) != "undefined") { %>
                <img src="<%= image %>" alt="<%= user %>">
            <% } %>
            <div>
                <h4><%= user %></h4>
                <span class="time"><%= created %></span>
            </div>
            <div class="pull-right">
                <span class="label label-info">
                    <span class="glyphicon glyphicon-comment"> <%= reply_count %></span>
                </span>
            </div>
        </div>
        <div class="comment-content clearfix">
            <%= text %>
        </div>
        <a type="button" class="reply-to-message" data-toggle="collapse" data-target="#reply-to-message-<%= pk %>" href="#">
            Reply
        </a>
        <div id="reply-to-message-<%= pk %>" class="collapse message-reply" data-start-discussion="false">
            <form role="form">
                <div class="form-group reply-to-message-form">
                    <label class="sr-only" for="reply-to-message-input-<%= pk %>">Tag</label>
                    <input type="text" class="form-control input-lg" id="reply-to-message-input-<%= pk %>" placeholder="Enter reply here...">
                    <span class="help-block" id="reply-to-message-message-<%= pk %>"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-small reply-to-message-button" id="reply-to-message-button-<%= pk %>" data-primary-key="<%= pk %>">Send Message</button>
                </div>
            </form>
        </div>
        <% if (reply_count > 0) { %>
            <a type="button" href="#" class="view-message-replies">  View replies</a>
        <% } %>
        <div class="message-replies-container" data-contains-replies="false" id="message-replies-container-<%= pk %>">
        </div>
    </div>
</script>

<script id="noRepliesTemplate" type="text/template">
    <div class="comment">
        <p>Aw, shucks!  We are unable to pull up the replies for this message.</p>
    </div>
</script>

<script id="messagesTemplate" type="text/template">
    <div id="start-a-discussion" data-start-discussion="true" class="message-reply">
        <form role="form">
            <div class="form-group reply-to-message-form">
                <label class="sr-only" for="start-a-discussion-input">Tag</label>
                <input type="text" class="form-control input-lg" id="start-a-discussion-input" placeholder="Enter message here...">
                <span class="help-block"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-small start-a-discussion-button">Start a new discussion</button>
            </div>
        </form>
    </div>
    <div class="comments" data-tag-name="<%= classgroup %>" id="comments">
        <%= messages %>
    </div>
</script>

<script id="sidebarItemTemplate" type="text/template">
    <a href="<%= link %>" class="class-name" data-display-class-name="<%= display_name %>"><%= display_name %></a>
</script>
