{% load bootstrap %}

<h4>Basic Settings</h4>
<div class="basic-settings">
    <form action="{{ action_link }}" method="POST" id="{{ form_id }}" class="resource-creation-form">
        {% csrf_token %}
        {{ form|bootstrap }}
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-default"/>
        </div>
        <div class="help-block help-block-resource"></div>
    </form>

    {{ content|safe }}
</div>

<h4>Components</h4>
<div class="child-container">
    #{child_views}
</div>
<div class="btn-group dropup">
    <p class="btn" disabled="true">Add </p>
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        Content <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li><a href="#" class="resource-type-button" data-resource-type="link">Link</a></li>
        <li><a href="#" class="resource-type-button" data-resource-type="html">HTML</a></li>
        <li><a href="#"class="resource-type-button" data-resource-type="video">Video</a></li>
        <li><a href="#" class="resource-type-button" data-resource-type="file">File</a></li>
    </ul>
</div>
<div class="btn-group dropup">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        Problems <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li><a href="#" class="resource-type-button" data-resource-type="multiplechoice">Multiple Choice</a></li>
    </ul>
</div>