{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap css -->

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/colorfrog.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/morris.css' %}"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href="{% static 'img/favicon.ico' %}" rel="shortcut icon" type="image/x-icon" />

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/json2/20121008/json2.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.0.4/jquery.imagesloaded.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fitvids/1.0.1/jquery.fitvids.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.4.2/morris.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.1.0/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.form/3.32/jquery.form.js"></script>
    <script src="{% static 'js/sigma.min.js' %}"></script>
    <script src="{% static 'js/sigma.forceatlas2.js' %}"></script>
    <script src="{% static 'js/colorbrewer.js' %}"></script>
    <script src="{% static 'js/respond.min.js' %}"></script>
    <script src="{% static 'js/colorfrog.js' %}"></script>
    <script src="{% static 'js/bootbox.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/models.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>

    <!--[if lt IE 9]>
	<script>
		document.createElement('header');document.createElement('nav');document.createElement('section');document.createElement('article');document.createElement('aside');document.createElement('footer');
	</script>
	<![endif]-->

    {% block additional_js %}
    {% endblock %}

    {% if ga_key %}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', '{{ga_key}}', 'movide.com');
            ga('send', 'pageview');

        </script>
    {% endif %}

    <meta name="csrf-token" content="{{csrf_token}}">
    <title>{% block title %}Interact naturally.{% endblock %}</title>
    <meta name="Description" content="{% block meta_description %}
    Movide is an innovative new tool that allows for teachers to engage with students.  Quickly form classes, interact, and measure engagement.
    {% endblock %}">

</head>
<body class="blue">

    <div class="container">
        <header>
            <a class="current brand" href="/">Movide</a>
        </header>

        <button class="btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <nav class="navbar-collapse collapse">
            <ul class="nav nav-pills">
                <li {% if request.path == "/" %}class="current active"{% endif %}><a href="/">Home</a></li>
                {% if user.is_authenticated %}
                    <li {% if request.path == "/dashboard/" %}class="active"{% endif %}><a href="/dashboard/">Dashboard</a></li>
                    {% block additional_nav %}
                    {% endblock %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-user"></span>
                            {{ user.username }}
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/accounts/logout/">Logout</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li {% if request.path == "/accounts/signup/" %}class="active"{% endif %}><a href="/accounts/signup/">Signup</a></li>
                    <li {% if request.path == "/accounts/login/" %}class="active"{% endif %}><a href="/accounts/login/">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </div> <!-- //end container -->

    {% block content %}
    {% endblock %}


{% block footer %}
    <div id="map">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-sm-4 alt">
                            <div class="background-inner">
                                <h3>Subscribe</h3>
                                <p>Our newsletter keeps you up to date with news and happenings from Movide.  Hear about all of the exciting new things we are up to!</p>
                                <div class="input-group">
                                    <input class="form-control" type="text" placeholder="your email address" id="email-signup-address" />
                                    <div class="input-group-btn">
                                        <button class="btn" type="button" id="email-signup-button"><span class="glyphicon glyphicon-chevron-right"></span></button>
                                    </div>
                                </div>
                                <span class="help-block" id="email-signup-message"></span>
                            </div>
                        </div>
                        <div class="col-sm-4 col-sm-offset-4 alt">
                            <div class="background-inner">
                                <h3>Connect</h3>
                                <ul class="contact-info">
                                    <li class="contact-info-address">Central Square, Cambridge, MA</li>
                                    <li class="contact-info-call">(617) 520-4566</li>
                                    <li class="contact-info-mail"><a href="mailto:">info@movide.com</a></li>
                                </ul>
                                <ul class="social-info">
                                    <li>
                                        <a href="http://twitter.com/movideapp" class="social-info-twitter">Twitter</a>
                                    </li>
                                    <li>
                                        <a href="http://www.facebook.com/pages/Movide/500899039995186" class="social-info-facebook">Facebook</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- //end container -->
    </div> <!-- //end map -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <p>Copyright &copy; 2013 Equirio. All rights reserved.</p>
                </div>
            </div>
        </div>   <!--//end container -->
    </footer>
{% endblock %}

</body>
</html>