<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	
	<title>Colorfrog - Blog archive (by month)</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap css -->
	<link href="../static/colorfrog/css/bootstrap.css" rel="stylesheet" media="screen">
	<link href="../static/colorfrog/css/bootstrap-responsive.css" rel="stylesheet" media="screen">
	<!-- Theme css -->
	<link href="../static/colorfrog/css/colorfrog.css" rel="stylesheet" media="screen">

	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	<link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />

	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script src="../static/colorfrog/js/bootstrap.js"></script>
	<script src="../static/colorfrog/js/jquery.fitvids.js"></script>
	<script src="../static/colorfrog/js/colorfrog.js"></script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
	<script>google.maps.event.addDomListener(window, 'load', initialize);</script>
	
	<!--[if lt IE 9]>
	<script>
		document.createElement('header');document.createElement('nav');document.createElement('section');document.createElement('article');document.createElement('aside');document.createElement('footer');
	</script>
	<![endif]-->
	
</head>
<body>
<!--
Use the corresponding body tag for your chosen theme
<body class="blue">
<body class="orange">
<body class="green">
<body class="bw">
-->

	<div class="container">
		<header>
			<a class="navbar-brand" href="index.html">Colorfrog</a>
		</header>

		<button class="btn navbar-btn" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="glyphicon glyphicon-bar"></span>
			<span class="glyphicon glyphicon-bar"></span>
			<span class="glyphicon glyphicon-bar"></span>
		</button>
		
		<nav class="navbar-collapse collapse">
			<ul class="nav nav-pills">
				<li><a href="index.html">Home</a></li>
				<li><a href="styles.html">Styles</a></li>
				<li><a href="templates.html">Templates</a></li>
				<li><a href="support.html">Support</a></li>              
			</ul>
		</nav>
	</div> <!-- //end container -->	
	
	<div class="container content blog">
		<hr>
		<div class="row">

			<div class="col-md-3">
				<div class="well sidebar-nav">
					<ul class="nav nav-list">
						<li class="nav-header">Year</li>
						<li class="active">
							<a href="#year2013">2013</a>
							<ul class="nav nav-list">
								<li><a href="#year2013jan">Jan</a></li>
								<li><a href="#year2013feb">Feb</a></li>					
								<li><a href="#year2013mar">Mar</a></li>					
								<li><a href="#year2013apr">Apr</a></li>					
								<li><a href="#year2013may">May</a></li>																																	
							</ul>
						</li>
						<li><a href="#year2012">2012</a></li>
						<li><a href="#year2011">2011</a></li>
					</ul>
				</div>    	
			</div> <!-- //end col-md-3 -->

			<div class="col-md-9">
				<div class="page-header">
					<h1>Archive by month</h1>
				</div>
			</div> <!-- //end col-md-9 -->

			<div class="col-md-9">
				<h3 id="year2013jan">Jan 2013</h3>
				<ul class="archive">
					<li class="img">
						<a href="blog-single.html">What goes into making a theme for Bootstrap? &rarr;</a>
						<div class="row">
							<div class="col-md-3 blog">
								<a href="blog-single.html">
									<img src="../static/colorfrog/img/blue/blog-image.png" class="blue" alt="" />
									<img src="../static/colorfrog/img/bw/blog-image.png" class="bw" alt="" />
									<img src="../static/colorfrog/img/orange/blog-image.png" class="orange" alt="" />
									<img src="../static/colorfrog/img/green/blog-image.png" class="green" alt="" />
									<!-- multiple images are just for demonstration -->	
								</a>
							</div>
							<div class="col-md-4 blog-excerpt">
								<p>Executing on a consistent theme whilst coming up with templates to suit all can be a tricky task. Luckily Colorfrog has it all covered.</p>
								<p><span class="meta">13 comments - theming, design</span></p>
							</div>
						</div>
					</li>
					<li>
						<div><a href="blog-single.html">Bacon ipsum dolor sit amet fatback pig sausage. &rarr;</a> <span class="meta">0 comments - meat, money</span></div>
						<div class="blog-excerpt"><p>Bacon ipsum dolor sit amet salami rump tongue leberkas, boudin shankle jowl turkey. Turducken andouille shoulder, drumstick venison pastrami spare ribs frankfurter meatloaf shank sirloin beef ribs strip steak.</p></div>
					</li>
					<li>
						<div><a href="blog-single.html">Bacon ipsum dolor sit amet fatback pig sausage. &rarr;</a> <span class="meta">0 comments - meat, money</span></div>
						<div class="blog-excerpt"><p>Bacon ipsum dolor sit amet salami rump tongue leberkas, boudin shankle jowl turkey. Turducken andouille shoulder, drumstick venison pastrami spare ribs frankfurter meatloaf shank sirloin beef ribs strip steak.</p></div>
					</li>
				</ul>	
				
				<hr />
				<h3 id="year2013feb">Feb 2013</h3>
				<ul class="archive">
					<li>
						<div><a href="blog-single.html">What goes into making a theme for Bootstrap? &rarr;</a> <span class="meta">13 comments - theming, design</span></div>
						<div class="blog-excerpt"><p>Executing on a consistent theme whilst coming up with templates to suit all can be a tricky task. Luckily Colorfrog has it all covered.</p></div>
					</li>
					<li>
						<div><a href="blog-single.html">Bacon ipsum dolor sit amet fatback pig sausage. &rarr;</a> <span class="meta">0 comments - meat, money</span></div>
						<div class="blog-excerpt"><p>Bacon ipsum dolor sit amet salami rump tongue leberkas, boudin shankle jowl turkey. Turducken andouille shoulder, drumstick venison pastrami spare ribs frankfurter meatloaf shank sirloin beef ribs strip steak.</p></div>
					</li>
					<li>
						<div><a href="blog-single.html">Bacon ipsum dolor sit amet fatback pig sausage. &rarr;</a> <span class="meta">0 comments - meat, money</span></div>
						<div class="blog-excerpt"><p>Bacon ipsum dolor sit amet salami rump tongue leberkas, boudin shankle jowl turkey. Turducken andouille shoulder, drumstick venison pastrami spare ribs frankfurter meatloaf shank sirloin beef ribs strip steak.</p></div>
					</li>
				</ul>											

				<hr />
				<h3 id="year2013mar">Mar 2013</h3>
				<ul class="archive">
					<li><a href="blog-single.html">What goes into making a theme for Bootstrap? &rarr;</a> <span class="meta">13 comments - theming, design</span></li>
					<li><a href="blog-single.html">Bacon ipsum dolor sit amet fatback pig sausage. &rarr;</a> <span class="meta">0 comments - meat, money</span></li>
					<li><a href="blog-single.html">Biltong turkey short ribs shank drumstick bresaola. &rarr;</a> <span class="meta">7 comments - money, work</span></li>
				</ul>										
				
				<hr />
				<h3 id="year2013apr">Apr 2013</h3>
				<ul class="archive">
					<li><a href="blog-single.html">What goes into making a theme for Bootstrap? &rarr;</a> <span class="meta">13 comments - theming, design</span></li>
					<li><a href="blog-single.html">Bacon ipsum dolor sit amet fatback pig sausage. &rarr;</a> <span class="meta">0 comments - meat, money</span></li>
					<li><a href="blog-single.html">Biltong turkey short ribs shank drumstick bresaola. &rarr;</a> <span class="meta">7 comments - money, work</span></li>
				</ul>																		
				
				<hr />
				<h3 id="year2012">2012</h3>
				<ul class="archive">
					<li><a href="blog-single.html">Bacon ipsum dolor sit amet fatback pig sausage. &rarr;</a> <span class="meta">0 comments - topic 1, topic 2</span></li>
					<li><a href="blog-single.html">Biltong turkey short ribs shank drumstick bresaola. &rarr;</a> <span class="meta">0 comments - topic 1, topic 2</span></li>
					<li><a href="blog-single.html">Bacon ipsum dolor sit amet fatback pig sausage. &rarr;</a> <span class="meta">0 comments - topic 1, topic 2</span></li>
					<li><a href="blog-single.html">Biltong turkey short ribs shank drumstick bresaola. &rarr;</a> <span class="meta">0 comments - topic 1, topic 2</span></li>
				</ul>
				
				<hr />
				<h3 id="year2011">2011</h3>
				<ul class="archive">
					<li><a href="blog-single.html">Bacon ipsum dolor sit amet fatback pig sausage. &rarr;</a> <span class="meta">0 comments - topic 1, topic 2</span></li>
					<li><a href="blog-single.html">Biltong turkey short ribs shank drumstick bresaola. &rarr;</a> <span class="meta">0 comments - topic 1, topic 2</span></li>
					<li><a href="blog-single.html">Bacon ipsum dolor sit amet fatback pig sausage. &rarr;</a> <span class="meta">0 comments - topic 1, topic 2</span></li>
					<li><a href="blog-single.html">Biltong turkey short ribs shank drumstick bresaola. &rarr;</a> <span class="meta">0 comments - topic 1, topic 2</span></li>
				</ul>								
	
			</div> <!-- //end col-md-9 -->
		</div> <!-- //end row -->	
		
		<hr />
		<div class="row">
			<div class="col-md-4 feature">
				<h3>Archive</h3>
				<div class="icon archive">
					<a href="blog-archive-year.html">Browse archives</a>
				</div>
				<p>Everything we've written organised by year and month.</p>							
				<a class="btn btn-default" href="blog-archive-year.html">Browse archives</a>
			</div> <!-- //end col-md-4 -->
			<div class="col-md-4 feature">
				<h3>Topics</h3>
				<div class="icon topic">
					<a href="blog-archive-year.html">Topic archives</a>
				</div>
				<p>All entries for a particular topic organised for you.</p>				
				<a class="btn btn-default" href="blog-archive-year.html">Browse topics</a>
			</div> <!-- //end col-md-4 -->
			<div class="col-md-4 feature">
				<h3>Authors</h3>
				<div class="icon author">
					<a href="blog-archive-auhtor.html">Browse authors</a>
				</div>
				<p>We are more than just one voice on the frogblog.</p>				
				<a class="btn btn-default" href="blog-archive-author.html">Browse authors</a>
			</div> <!-- //end col-md-4 -->
		</div> <!-- //end row -->		
	</div> <!-- //end container -->	
	
		<div id="map">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-4 alt">
							<div class="background-inner">
								<h3>Subscribe</h3>
								<p>To our newsletter to keep up to date with news and events from Colorfrog</p>
								<div class="input-append">
									<input class="input-large" type="text" placeholder="your email address" />							  
									<button class="btn btn-small" type="button"><i class="glyphicon glyphicon-chevron-right glyphicon glyphicon-white"></i></button>
								</div>
								<small class="clearfix">We don't send out newsletters often, so no worrying about spam. Also, we never share your email address with anyone.</small>
							</div>
						</div>
						<div class="col-md-4 col-md-offset-4 alt">
							<div class="background-inner">
								<h3>Connect</h3>
								<ul class="contact-info">
									<li class="contact-info-address">Some Street 30, 00000, Country</li>
									<li class="contact-info-call">+0102345678</li>
									<li class="contact-info-mail"><a href="mailto:">info@colorfrog.com</a></li>
								</ul>
								<ul class="social-info">
									<li>
										<a href="" class="social-info-twitter">Twitter</a>
									</li>	
									<li>
										<a href="" class="social-info-facebook">Facebook</a>
									</li>
									<li>
										<a href="" class="social-info-pintrest">Pintrest</a>
									</li>
									<li>
										<a href="" class="social-info-github">Github</a>
									</li>					
									<li>
										<a href="" class="social-info-linkedin">LinkedIn</a>
									</li>
								</ul>																															
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> <!-- //end container -->
		<div id="footer-map"></div>
	</div> <!-- //end map -->
			
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<p>Copyright &copy; 2013 Colorfrog. All rights reserved. <a href="">Terms</a> &amp; <a href="">Privacy</a>.</p>		
				</div>
				<div class="col-md-6">
					<p class="text-right">
					Style: <a href="" class="st" id="style-bw">Black & White</a>, <a href="" class="st" id="style-orange">Orange</a>, <a href="" class="st" id="style-green">Green</a>, <a href="" class="st" id="style-blue">Blue</a>
					</p>
				</div>
			</div>
		</div>   <!--//end container -->   
	</footer>


</body>
</html>