<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	
	<title>Colorfrog - Blog single</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap css -->
	<link href="../static/colorfrog/css/bootstrap.css" rel="stylesheet" media="screen">
	<link href="../static/colorfrog/css/bootstrap-responsive.css" rel="stylesheet" media="screen">
	<!-- Theme css -->
	<link href="../static/colorfrog/css/colorfrog.css" rel="stylesheet" media="screen">

	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	<link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />

	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script src="../static/colorfrog/js/bootstrap.js"></script>
	<script src="../static/colorfrog/js/jquery.fitvids.js"></script>
	<script src="../static/colorfrog/js/colorfrog.js"></script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
	<script>google.maps.event.addDomListener(window, 'load', initialize);</script>
	
	<!--[if lt IE 9]>
	<script>
		document.createElement('header');document.createElement('nav');document.createElement('section');document.createElement('article');document.createElement('aside');document.createElement('footer');
	</script>
	<![endif]-->

</head>
<body>
<!--
Use the corresponding body tag for your chosen theme
<body class="blue">
<body class="orange">
<body class="green">
<body class="bw">
-->

	<div class="container">
		<header>
			<a class="navbar-brand" href="index.html">Colorfrog</a>
		</header>

		<button class="btn navbar-btn" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="glyphicon glyphicon-bar"></span>
			<span class="glyphicon glyphicon-bar"></span>
			<span class="glyphicon glyphicon-bar"></span>
		</button>
		
		<nav class="navbar-collapse collapse">
			<ul class="nav nav-pills">
				<li><a href="index.html">Home</a></li>
				<li><a href="styles.html">Styles</a></li>
				<li><a href="templates.html">Templates</a></li>
				<li><a href="support.html">Support</a></li>              
			</ul>
		</nav>
	</div> <!-- //end container -->	
	
	<div class="container content blog">
		<hr />
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="page-header text-center">
					<h1>What goes into making a theme for Bootstrap?</h1>
					<p class="post-meta"><a href="">Ben Goodyear</a>, 02.05.13 - <a href="">Coding</a>, <a href="">Themes</a></p>
					<p class="post-meta"><a href="#comments">4 comments</a></p>
				</div>
				<div class="row">
					<div class="col-md-6 col-md-offset-2">
						<p class="lead">Executing on a consistent theme whilst coming up with templates to suit all can be a tricky task. Luckily Colorfrog has it all covered.</p>
					</div> <!-- //end col-md-6 -->

					<!-- optional blog image, remove div if not required -->
					<div class="col-md-8 col-md-offset-1">
						<img src="../static/colorfrog/img/blue/blog-image.png" class="blue" alt="" />
						<img src="../static/colorfrog/img/bw/blog-image.png" class="bw" alt="" />
						<img src="../static/colorfrog/img/orange/blog-image.png" class="orange" alt="" />
						<img src="../static/colorfrog/img/green/blog-image.png" class="green" alt="" />
						<!-- multiple images are just for demonstration -->								
					</div> <!-- //end col-md-8 -->
					
				</div> <!-- //end row -->	
				
				<div class="row">
					<div class="col-md-6 col-md-offset-2">
						<p>Bacon ipsum dolor sit amet biltong bresaola short loin sausage, beef ribs pork belly jerky t-bone pastrami cow frankfurter. Beef turkey pork belly short ribs pork chop biltong ball tip, doner drumstick pig rump. Doner beef pork chop, t-bone pork pork loin meatball venison tri-tip tail frankfurter leberkas brisket strip steak. Chuck pork belly pork frankfurter ball tip biltong, tenderloin shank.</p>
						<p>Pork belly ham hock capicola shoulder, meatball sirloin bacon drumstick rump t-bone shankle doner. Ribeye t-bone spare ribs pig tenderloin pork loin. Chuck bacon sirloin jerky biltong shankle pork belly ground round jowl flank. Salami biltong venison, meatloaf beef ribs turkey chuck pork doner. Sausage shank ball tip kielbasa bacon jowl fatback pork cow shoulder chicken. Jowl pastrami shank beef ribs strip steak pork chop meatloaf biltong short ribs pancetta ham hock spare ribs pork loin meatball tenderloin.</p>
						<p>Tail hamburger ham, swine kielbasa chicken rump ribeye sirloin pig. Bresaola tenderloin doner pastrami venison spare ribs tri-tip tail, jerky shank cow. Shankle capicola turkey spare ribs, pastrami corned beef short loin swine. Prosciutto sausage beef ribs salami shoulder rump tenderloin filet mignon chuck tongue pork belly strip steak ribeye. Pastrami shank fatback, boudin chicken turducken ribeye leberkas bresaola frankfurter kielbasa jowl.</p>
					</div> <!-- //end col-md-6 -->
				</div> <!-- //end row -->	
				
				<div class="row">
					<div class="col-md-8 col-md-offset-1">
						<hr />
						<p><a href="">&larr; Next</a><a class="pull-right" href="">Previous &rarr;</a></p>
						<hr />						
					</div> <!-- //end col-md-8 -->
				</div> <!-- //end row -->				
				
				<div class="row">
					<div class="col-md-6 col-md-offset-2 comments" id="comments">
						<h3>4 Comments</h3>
						
						<div class="comment">
							<div class="header clearfix">
								<img alt="" src="../static/colorfrog/img/bio-small.jpg">
								<div>
									<h4><a href="" rel="external nofollow" class="url">Ben Goodyear</a></h4>
									<span class="time">April 6, 2012 @ 1:23 pm</span>
									<a href="#comment">•</a>
								</div>
							</div>
							<div class="comment-content clearfix">
								<p>Bacon ipsum dolor sit amet biltong bresaola short loin sausage, beef ribs pork belly jerky t-bone pastrami cow frankfurter. Beef turkey pork belly short ribs pork chop biltong ball tip, doner drumstick pig rump.</p>
							</div>
						</div> <!-- //end comment -->						
						
						<div class="comment">
							<div class="header clearfix">
								<img alt="" src="../static/colorfrog/img/bio-small.jpg">
								<div>
									<h4><a href="" rel="external nofollow" class="url">Ben Goodyear</a></h4>
									<span class="time">April 6, 2012 @ 1:23 pm</span>
									<a href="#comment">•</a>
								</div>
							</div>
							<div class="comment-content clearfix">
								<p>Bacon ipsum dolor sit amet biltong bresaola short loin sausage, beef ribs pork belly jerky t-bone pastrami cow frankfurter. Beef turkey pork belly short ribs pork chop biltong ball tip, doner drumstick pig rump.</p>
							</div>
						</div> <!-- //end comment -->						
						
						<div class="comment post-author">
							<div class="header clearfix">
								<img alt="" src="../static/colorfrog/img/bio-small.jpg">
								<div>
									<h4><a href="" rel="external nofollow" class="url">Ben Goodyear</a></h4>
									<span class="time">April 6, 2012 @ 1:23 pm</span>
									<a href="#comment">•</a>
								</div>
							</div>
							<div class="comment-content clearfix">
								<p>Bacon ipsum dolor sit amet biltong bresaola short loin sausage, beef ribs pork belly jerky t-bone pastrami cow frankfurter. Beef turkey pork belly short ribs pork chop biltong ball tip, doner drumstick pig rump.</p>
							</div>
						</div> <!-- //end comment -->						
						
						<div class="comment">
							<div class="header clearfix">
								<img alt="" src="../static/colorfrog/img/bio-small.jpg">
								<div>
									<h4><a href="" rel="external nofollow" class="url">Ben Goodyear</a></h4>
									<span class="time">April 6, 2012 @ 1:23 pm</span>
									<a href="#comment">•</a>
								</div>
							</div>
							<div class="comment-content clearfix">
								<p>Bacon ipsum dolor sit amet biltong bresaola short loin sausage, beef ribs pork belly jerky t-bone pastrami cow frankfurter. Beef turkey pork belly short ribs pork chop biltong ball tip, doner drumstick pig rump.</p>
							</div>
						</div> <!-- //end comment -->		
					</div> <!-- //end col-md-6 -->
				</div> <!-- //end row -->

				<div class="row">
					<hr class="col-md-8 col-md-offset-1" />
				
					<div class="col-md-6 col-md-offset-2 comments">
						<h3>Leave a comment</h3>
						<form action="form_process.php" method="post" id="comment-form">
							<div>
								<label for="comment">Comment </label><span class="required">*</span>
								<textarea id="comment" name="comment" cols="45" rows="8" aria-required="true"></textarea>
							</div>																				
							<div>
								<label for="author">Name</label> <span class="required">*</span>
								<input id="author" name="author" type="text" value="" size="30" aria-required="true">
							</div>
							<div>
								<label for="email">Email</label> <span class="required">*</span>
								<input id="email" name="email" type="text" value="" size="30" aria-required="true">
							</div>
							<div>
								<label for="url">Website</label>
								<input id="url" name="url" type="text" value="" size="30">
							</div>
							<div>
								<input name="submit" type="submit" id="submit" value="Submit comment" class="btn btn-large">
							</div>
						</form>
					</div>
				</div> <!-- //end row -->	
				
			</div> <!-- //end col-md-10 -->
		</div> <!-- //end row -->	
		
		<hr />
		<div class="row">
			<div class="col-md-4 feature">
				<h3>Archive</h3>
				<div class="icon archive">
					<a href="blog-archive-year.html">Browse archives</a>
				</div>
				<p>Everything we've written organised by year and month.</p>							
				<a class="btn btn-default" href="blog-archive-year.html">Browse archives</a>
			</div> <!-- //end col-md-4 -->
			<div class="col-md-4 feature">
				<h3>Topics</h3>
				<div class="icon topic">
					<a href="blog-archive-year.html">Topic archives</a>
				</div>
				<p>All entries for a particular topic organised for you.</p>				
				<a class="btn btn-default" href="blog-archive-year.html">Browse topics</a>
			</div> <!-- //end col-md-4 -->
			<div class="col-md-4 feature">
				<h3>Authors</h3>
				<div class="icon author">
					<a href="blog-archive-author.html">Browse authors</a>
				</div>
				<p>We are more than just one voice on the frogblog.</p>				
				<a class="btn btn-default" href="blog-archive-author.html">Browse authors</a>
			</div> <!-- //end col-md-4 -->
		</div> <!-- //end row -->		
		
	</div> <!-- //end container -->	
	
		<div id="map">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-4 alt">
							<div class="background-inner">
								<h3>Subscribe</h3>
								<p>To our newsletter to keep up to date with news and events from Colorfrog</p>
								<div class="input-append">
									<input class="input-large" type="text" placeholder="your email address" />							  
									<button class="btn btn-small" type="button"><i class="glyphicon glyphicon-chevron-right glyphicon glyphicon-white"></i></button>
								</div>
								<small class="clearfix">We don't send out newsletters often, so no worrying about spam. Also, we never share your email address with anyone.</small>
							</div>
						</div>
						<div class="col-md-4 col-md-offset-4 alt">
							<div class="background-inner">
								<h3>Connect</h3>
								<ul class="contact-info">
									<li class="contact-info-address">Some Street 30, 00000, Country</li>
									<li class="contact-info-call">+0102345678</li>
									<li class="contact-info-mail"><a href="mailto:">info@colorfrog.com</a></li>
								</ul>
								<ul class="social-info">
									<li>
										<a href="" class="social-info-twitter">Twitter</a>
									</li>	
									<li>
										<a href="" class="social-info-facebook">Facebook</a>
									</li>
									<li>
										<a href="" class="social-info-pintrest">Pintrest</a>
									</li>
									<li>
										<a href="" class="social-info-github">Github</a>
									</li>					
									<li>
										<a href="" class="social-info-linkedin">LinkedIn</a>
									</li>
								</ul>																															
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> <!-- //end container -->
		<div id="footer-map"></div>
	</div> <!-- //end map -->
			
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<p>Copyright &copy; 2013 Colorfrog. All rights reserved. <a href="">Terms</a> &amp; <a href="">Privacy</a>.</p>		
				</div>
				<div class="col-md-6">
					<p class="text-right">
					Style: <a href="" class="st" id="style-bw">Black & White</a>, <a href="" class="st" id="style-orange">Orange</a>, <a href="" class="st" id="style-green">Green</a>, <a href="" class="st" id="style-blue">Blue</a>
					</p>
				</div>
			</div>
		</div>   <!--//end container -->   
	</footer>

</body>
</html>