<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	
	<title>Colorfrog - Contact</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap css -->
	<link href="../static/css/bootstrap.css" rel="stylesheet" media="screen">
	<!-- Theme css -->
	<link href="../static/css/colorfrog.css" rel="stylesheet" media="screen">

	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	<link href="../static/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<script src="../static/js/respond.min.js"></script>

	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script src="../static/js/bootstrap.js"></script>
	<script src="../static/js/jquery.fitvids.js"></script>
	<script src="../static/js/colorfrog.js"></script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
	<script>google.maps.event.addDomListener(window, 'load', initialize);</script>
	
	<!--[if lt IE 9]>
	<script>
		document.createElement('header');document.createElement('nav');document.createElement('section');document.createElement('article');document.createElement('aside');document.createElement('footer');
	</script>
	<![endif]-->

</head>
<body>
<!--
Use the corresponding body tag for your chosen theme
<body class="blue">
<body class="orange">
<body class="green">
<body class="bw">
-->

	<div class="container">
		<header>
			<a class="brand" href="index.html">Colorfrog</a>
		</header>

		<button class="btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		
		<nav class="navbar-collapse collapse">
			<ul class="nav nav-pills">
				<li><a href="index.html">Home</a></li>
				<li><a href="styles.html">Styles</a></li>
				<li><a href="templates.html">Templates</a></li>
				<li><a href="support.html">Support</a></li>              
			</ul>
		</nav>
	</div> <!-- //end container -->	
	
	<div class="jumbotron">
		<div class="container">
			<h1>Pick our brains.</h1>
			<h2>Just don't take it all!</h2>
		</div>
	</div> <!-- //end hero-unit -->
	
	<div class="jumbotron-sub">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<p>In person, over the phone, by email, on Twitter or any other way you can think of — we are here for you.</p>
				</div>
			</div>
		</div>
	</div> <!-- //end submain -->

	<div class="container content underHero">
		<div class="row">
			<div class="col-sm-6">
				<h3>How to reach us</h3>
				<div class="person left">
					<div class="person-meta clearfix">
						<img src="../static/img/bio-small.jpg" alt="" />
						<h4>Ben Goodyear</h4>
						<ul>
							<li>Call: +123 456789</li>
							<li>Skype: username</li>
							<li><a href="mailto:firstname.lastname@domain.com">firstname.lastname@domain.com</a></li>
						</ul>
					</div>
				</div> <!-- //end person -->
				<div class="person left">
					<div class="person-meta clearfix">
						<img src="../static/img/blue/bio-blank.png" class="blue" alt=""/>
						<img src="../static/img/bw/bio-blank.png" class="bw" alt="" />
						<img src="../static/img/orange/bio-blank.png" class="orange" alt="" />
						<img src="../static/img/green/bio-blank.png" class="green" alt="" />
						<!-- multiple images are just for demonstration -->	
						<h4>Ben Goodyear</h4>
						<ul>
							<li>Call: +123 456789</li>
							<li>Skype: username</li>
							<li><a href="mailto:firstname.lastname@domain.com">firstname.lastname@domain.com</a></li>
						</ul>
					</div>
				</div> <!-- //end person -->
				<div class="person left">
					<div class="person-meta clearfix">
						<img src="../static/img/blue/bio-blank.png" class="blue" alt="" />
						<img src="../static/img/bw/bio-blank.png" class="bw" alt="" />
						<img src="../static/img/orange/bio-blank.png" class="orange" alt="" />
						<img src="../static/img/green/bio-blank.png" class="green" alt="" />
						<!-- multiple images are just for demonstration -->	
						<h4>Ben Goodyear</h4>
						<ul>
							<li>Call: +123 456789</li>
							<li>Skype: username</li>
							<li><a href="mailto:firstname.lastname@domain.com">firstname.lastname@domain.com</a></li>
						</ul>
					</div>
				</div> <!-- //end person -->								
			</div><!-- //end span6 -->
			<div class="col-sm-6 contact">
				<h3>Send us a message</h3>
				<form action="form_process.php" method="post" id="contact-form">
					<div class="form-group">
						<label for="message">Message </label><span class="required">*</span>
						<textarea id="message" name="message" cols="45" rows="8" aria-required="true" class="form-control"></textarea>
					</div>																				
					<div class="form-group">
						<label for="author">Name</label> <span class="required">*</span>
						<input id="author" name="author" type="text" value="" size="30" aria-required="true" class="form-control">
					</div>
					<div class="form-group">
						<label for="email">Email</label> <span class="required">*</span>
						<input id="email" name="email" type="text" value="" size="30" aria-required="true" class="form-control">
					</div>
					<div>
						<input name="submit" type="submit" id="submit" value="Send message" class="btn btn-lg">
					</div>
				</form>
			</div><!-- //end span6 -->			
		</div> <!-- //end row -->	
	</div> <!-- //end container -->	
	
		<div id="map">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="row">
						<div class="col-sm-4 alt">
							<div class="background-inner">
								<h3>Subscribe</h3>
								<p>To our newsletter to keep up to date with news and events from Colorfrog</p>
								<div class="input-group">
									<input class="form-control" type="text" placeholder="your email address" />				
									<div class="input-group-btn">			  
										<button class="btn" type="button"><span class="glyphicon glyphicon-chevron-right"></span></button>
									</div>
								</div>
								<small class="clearfix">We don't send out newsletters often, so no worrying about spam. Also, we never share your email address with anyone.</small>
							</div>
						</div>
						<div class="col-sm-4 col-sm-offset-4 alt">
							<div class="background-inner">
								<h3>Connect</h3>
								<ul class="contact-info">
									<li class="contact-info-address">Some Street 30, 00000, Country</li>
									<li class="contact-info-call">+0102345678</li>
									<li class="contact-info-mail"><a href="mailto:">info@colorfrog.com</a></li>
								</ul>
								<ul class="social-info">
									<li>
										<a href="" class="social-info-twitter">Twitter</a>
									</li>	
									<li>
										<a href="" class="social-info-facebook">Facebook</a>
									</li>
									<li>
										<a href="" class="social-info-pintrest">Pintrest</a>
									</li>
									<li>
										<a href="" class="social-info-github">Github</a>
									</li>					
									<li>
										<a href="" class="social-info-linkedin">LinkedIn</a>
									</li>
								</ul>																															
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> <!-- //end container -->
		<div id="footer-map"></div>
	</div> <!-- //end map -->
			
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<p>Copyright &copy; 2013 Colorfrog. All rights reserved. <a href="">Terms</a> &amp; <a href="">Privacy</a>.</p>		
				</div>
				<div class="col-sm-6">
					<p class="text-right">
					Style: <a href="" class="st" id="style-bw">Black & White</a>, <a href="" class="st" id="style-orange">Orange</a>, <a href="" class="st" id="style-green">Green</a>, <a href="" class="st" id="style-blue">Blue</a>
					</p>
				</div>
			</div>
		</div>   <!--//end container -->   
	</footer>


</body>
</html>