{% extends "base.html" %}
{% load staticfiles %}

{% block additional_js %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}"/>
    <script type="text/javascript" src="{% static 'js/sidebar.js' %}"></script>
    {% block dashboard_js %}
    {% endblock %}
{% endblock %}

{% block title %}
{% endblock %}

{% block meta_description %}
{% endblock %}

{% block content %}
    <div class="container content">
        <div class="row-offcanvas-left row-offcanvas">
            {% include "snippets/sidebar.html" %}
            <div class="col-xs-10" id="dashboard-content">
                {% block dashboard_content %}
                {% endblock %}
             </div>
        </div>
    </div>
    {% include "snippets/templates.html" %}
{% endblock %}
