{% extends "base.html" %}
{% load staticfiles %}

{% block additional_js %}
{% endblock %}

{% block title %}
{% endblock %}

{% block meta_description %}
{% endblock %}

{% block content %}
	<div class="jumbotron">
		<div class="container">
			<h1>Welcome to Movide.</h1>
			<h2>An better way for teachers and students to communicate.</h2>
		</div>
	</div> <!-- //end hero-unit -->
	
	<div class="jumbotron-sub">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<p>Form groups, start interacting, and share knowledge.</p>
				</div>
			</div>
		</div>
	</div> <!-- //end submain -->

	<div class="container content underHero">
		<div class="row">
			<div class="col-xs-12">
				<h2 class="subTitle">Built with you in mind</h2>
				<hr>
			</div>
			<div class="col-sm-4 feature">
                <div></div>
				<h3>Group</h3>
				<p>Make use of twitter hashtags to quickly form groups of students.</p>
			</div>
			<div class="col-sm-4 feature">
                <div></div>
				<h3>Interact</h3>
				<p>Communicate with students in ways that are natural to them by retweeting, replying, and posting images,</p>
			</div>
			<div class="col-sm-4 feature">
                <div></div>
				<h3>Measure</h3>
				<p>Our detailed analytics tell you how students are engaging and interacting.</p>
			</div>
		</div> <!-- //end of row -->
		
		<div class="row"><div class="col-xs-12"><hr></div></div>

        <div class="row">
            <div class="col-sm-4">
                <h2 class="subTitle2">Start using Movide</h2>
            </div>
            <div class="col-sm-8">
                <a class="btn btn-xlarge" href="/login/">Sign in using Twitter</a>
            </div>
        </div> <!-- //end of row -->
		
		<div class="row"><div class="span12"><hr></div></div>
		
	</div> <!-- //end container -->	
{% endblock %}
