{% extends "base.html" %}
{% load staticfiles %}

{% block additional_js %}
{% endblock %}

{% block title %}
    Engage with your students.
{% endblock %}

{% block meta_description %}
{% endblock %}

{% block content %}
	<div class="jumbotron">
		<div class="container">
			<h1>Welcome to Movide.</h1>
			<h2>A better way to manage a class.</h2>
		</div>
	</div> <!-- //end hero-unit -->
	
	<div class="jumbotron-sub">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<p>We focus on what's important - student learning and engagement.</p>
				</div>
			</div>
		</div>
	</div> <!-- //end submain -->

	<div class="container content underHero">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="subTitle">Why Movide?</h2>
                <hr>
            </div>
            <div class="col-sm-4 feature">
                <h3>Discussions are central</h3>
                <p>Many LMS platforms include discussions as an afterthought.  Not us.  We believe that discussion is key to learning.</p>
            </div>
            <div class="col-sm-4 feature">
                <h3>Safe and secure</h3>
                <p>Discussions are restricted to your class, and you can remove off topic conversations.</p>
            </div>
            <div class="col-sm-4 feature">
                <h3>Free!</h3>
                <p>Movide is and will always be free.  Sign up and try it out today!</p>
            </div>

        </div> <!-- //end of row -->
        <div class="row">
            <div class="col-xs-12">
                <h2 class="subTitle">How do I get started?</h2>
                <hr>
            </div>
            <div class="col-sm-4 feature">
                <h3>Form your class</h3>
                <p>Create your class and add announcements, links, content, and messages.</p>
            </div>
            <div class="col-sm-4 feature">
                <h3>Add students</h3>
                <p>Give students a customized link and access code that they can use to join.</p>
            </div>
            <div class="col-sm-4 feature">
                <h3>Go!</h3>
                <p>You can start using Movide and having class discussions immediately.  We are constantly working to make Movide better, and would love to hear from you.</p>
            </div>

        </div> <!-- //end of row -->
		
		<div class="row"><div class="col-xs-12"><hr></div></div>

        <div class="row">
            <div class="col-sm-4">
                <h2 class="subTitle2">Start using Movide</h2>
            </div>
            <div class="col-sm-8">
                <a class="btn btn-xlarge" href="/accounts/login/">Sign up or login</a>
            </div>
        </div> <!-- //end of row -->
		
		<div class="row"><div class="span12"><hr></div></div>
		
	</div> <!-- //end container -->	
{% endblock %}
