<p><strong>Onefrog</strong> helps you tell a <strong>meaningful story</strong> about yourself, your company or app in a <strong>clean, modern, captivating</strong> one page website.</p>

<p>The feature header lets you use short, to the point statements to quickly give a powerful overview about you, company or app. From these you can drill down to more in depth information. </p>

<p>Amaze people and then tell them a story, by the time they get to the contact section at the bottom they&#8217;ll be itching to talk to you.</p>

<h2>Feautres</h2>
<hr />
<ul>
  <li>Feature navigation header, tell a story that matters.</li>
  <li>Responsive one page template</li>
  <li>Google webfont <a href="http://www.google.com/fonts/specimen/Asap">Asap</a>.</li>
  <li>Browser component for displaying screenshots done in pure CSS. Stand out from the sea of Mac&#8217;s and iMac&#8217;s used for this purpose.</li>
  <li>Custom icons designed specifically for Onefrog, clean and easy to understand. Adoble Illustrator (.ai) resource package included.</li>
</ul>

<h2>Credits</h2>
<hr />
<ul>
  <li>All artwork and icons contained within the Colorfrog theme were created by <a href="http://bengoodyear.com">Ben Goodyear</a> and are free to use in whatever manner you see fit.</li>
  <li>Google webfont <a href="http://www.google.com/fonts/specimen/Asap">Asap</a>.</li>
</ul>

<h2>Changelog</h2>
<hr />

<p><strong>Version 1.0.0</strong>
- Initial release</p>
