{% extends "dashboard.html" %}
{% load avatar_tags %}
{% load staticfiles %}

{% block dashboard_js %}
    <script type="text/javascript" src="{% static 'js/classview.js' %}" xmlns="http://www.w3.org/1999/html"></script>
{% endblock %}

{% block title %}
{% endblock %}

{% block meta_description %}
{% endblock %}

{% block sidebar %}
    <ul class="nav nav-tabs" id="tag-sidebar">
        <li {% if active_page == "home" %}class="active current"{% endif %}><a href="{{ link }}" class="sidebar-item" data-name="home" data-toggle="tooltip" title="Home"><span class="glyphicon glyphicon-home"></span></a></li>
        <li {% if active_page == "messages" %}class="active current"{% endif %}><a href="{{ link }}messages/" class="sidebar-item" data-name="messages" data-toggle="tooltip" title="Discussions"><span class="glyphicon glyphicon-envelope"></span></a></li>
        <li {% if active_page == "users" %}class="active current"{% endif %}><a href="{{ link }}users/" class="sidebar-item" data-name="users" data-toggle="tooltip" title="Users"><span class="glyphicon glyphicon-user"></span></a></li>
        <li {% if active_page == "stats" %}class="active current"{% endif %}><a href="{{ link }}stats/" class="sidebar-item" data-name="stats" data-toggle="tooltip" title="Stats"><span class="glyphicon glyphicon-stats"></span></a></li>
        <li {% if active_page == "notifications" %}class="active current"{% endif %}>
            <a href="{{ link }}notifications/" class="sidebar-item" data-name="notifications" data-toggle="tooltip" title="Notifications">
                <span class="glyphicon glyphicon-bell"></span>
                {% if notification_count > 0 %}
                <span class="badge">{{ notification_count }}</span>
                {% endif %}
            </a>
        </li>
        <li {% if active_page == "settings" %}class="active current"{% endif %}><a href="{{ link }}settings/" class="sidebar-item" data-name="settings" data-toggle="tooltip" title="Settings"><span class="glyphicon glyphicon-wrench"></span></a></li>
    </ul>
{% endblock %}

{% block additional_nav %}
    <li class="active">
        <a href="{{ link }}" data-name="{{ name }}" data-display-class-name="{{ display_name }}">
            {{ display_name }}
        </a>
    </li>
{% endblock %}

{% block class_info %}
    <input type="hidden" id="classinfo" data-name="{{ name }}" data-display-name="{{ display_name }}" data-is-owner="{{ is_owner }}" data-class-link="{{ link }}" data-access-key="{{ access_key }}" data-active-page="{{ active_page }}" data-class-api-link="{{ class_api_link }}" data-avatar-change-link="{% url 'avatar_change' %}" data-class-owner="{{ class_owner }}">
{% endblock %}

{% block dashboard_content %}
{% endblock %}