{% extends "dashboard.html" %}
{% load staticfiles %}

{% block dashboard_js %}
    <script type="text/javascript" src="{% static 'js/tags.js' %}"></script>
{% endblock %}

{% block title %}
{% endblock %}

{% block meta_description %}
{% endblock %}

{% block dashboard_content %}
    <h1>Add a Class</h1>
    <p class="hidden-xs">After you have created a class, you can get started with it by clicking on it to the left.</p>
    <p class="visible-xs">After you have created a class, you can get started with it by using the "show class menu" button above to see all your classes, and then clicking the class.</p>
    <form class="form-inline" role="form">
        <div class="form-group create-class-form">
            <label class="sr-only" for="inputClass1">Class Name</label>
            <input type="text" class="form-control input-lg" id="inputClass1" placeholder="My Class Name">
            <span class="help-block" id="create-class-message"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-large" id="create-class">Create your Class</button>
        </div>
    </form>
    <div class="class-list">
        <h1>Your Classes</h1>
        <div id="classes">
            <table class="table table-hover table-condensed">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Modified</th>
                </tr>
                </thead>
                <tbody id="class-content">

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}