form.resource-creation-form table.multiple-choice-creation{
    margin-bottom: 5px;
}

form.resource-creation-form table.multiple-choice-creation tbody tr td{
    padding-right: 20px;
}

ul.multiple-choice-options{
    list-style-type: none;
}
    ul.multiple-choice-options .correct{
        color: #007A00
    }

    ul.multiple-choice-options .incorrect{
        color: #800000
    }